body{
    font-family: 'Rock 3D', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.pink{
    color: purple;
}
h3{
    padding-left: 20%;
    font-family: fantasy;
    color:rgb(218, 127, 117)
    
    
    
}
p{
    padding-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-bttn{
    text-decoration: none;
    background-image:linear-gradient(rgba(255, 166, 0, 0.705),  rgba(255, 0, 0, 0.733)) ;
    color: rgb(250, 250, 250);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 20px;
}
.his-bro{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.characteristics-item{
    width: 40%;
    box-shadow:10px 10px 40px rgb(78, 72, 72);
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}
.characteristics-item h3{
    padding-left: 10px;
    
}
#noob-web-developer{
    border-left: 8px solid;
    border-image: linear-gradient(rgba(255, 166, 0, 0.705),  rgba(255, 0, 0, 0.733)) ;
    border-image-slice: 1;

}
#baby-web-developer{
    border-left: 8px solid;
    border-image: linear-gradient(rgba(225, 121, 235, 0.705),  rgba(218, 13, 139, 0.733)) ;
    border-image-slice: 1;


}
